
*.exe

Bin/zlib\.dll

*.sfc

Bin/MegaManX2TextExtractor\.exe\.config

*.pdb

Bin/MegaManX2TextExtractor\.vshost\.exe\.config

Bin/MegaManX2TextExtractor\.vshost\.exe\.manifest

Tools/MegaManX2TextExtractor/bin/Debug/

Tools/MegaManX2TextExtractor/\.vs/MegaManX2TextExtractor/v14/

*.user

Tools/MegaManX2TextExtractor/obj/Debug/

/run.bat
